*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html , body{
    width: 100%;
    height: 100%;
    background-color: rgb(22, 24, 24);
    display: flex;
    align-items:center ;
    justify-content: center;
}

#container {
    background-color: white;
      width: 330px;
      height: 480px;
      border-radius: 10px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
}

#container img{
    height:220px ;
     width: 100%;
     border-radius: 10px;
}

#container h1{
    align-self: center;
}

#container h2{
    align-self: center;
    color: red;
}

#container button{
    align-self: center;
    background-color: seagreen;
    color: white;
    padding: 9px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}